[tool.poetry]
name = "enchanter"
version = "0.7.0b"
description = "Enchanter is a library for machine learning tasks for comet.ml users."
authors = ["Hirotaka Kawashima <khirotaka@vivaldi.net>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://enchanter.readthedocs.io/"
repository = "https://github.com/khirotaka/enchanter"
keywords = ["pytorch", "comet_ml"]

[tool.poetry.dependencies]
python = "^3.6.5"
torch = "^1.6"
numpy = "^1.17"
scikit-learn = "^0.23"
tqdm = "^4.41"
tensorboard = "^2.1"
pandas = "^1.0"
comet_ml = "^3.1.3"
tensorflow = "^2.3.0"
tensorflow-datasets = "^3.2.1"

[tool.poetry.dev-dependencies]
mxnet = "1.6.0"
pytest = "^6.0"
flake8 = "^3.8"
black = "^20.8b1"
sphinx-material = "^0.0.30"
sphinx-copybutton = "^0.3"
sphinx-autoapi = "1.5.0"


[tool.black]
line-length = 120
target-version = ["py36", "py37", "py38"]
include = '\.pyi?$'
exclude = '''

(
    migrations
    | .mypy_cache
    | .pytest_cache
    | .github
    | docker
    | docs
    | examples
    | tests
)
'''


[build-system]
requires = ["poetry-core>=1.0.0a5"]
build-backend = "poetry.core.masonry.api"
